In [1]:
import pandas as pd
import json
import numpy as np

# Lendo arquivo de dados
Nesse primeiro bloco vamos ler as dados salvos no arquivo de log e carregá-los em um dataframe.

In [2]:
with open('twitter.log', 'r') as f:
    data = f.readlines()
data = [ json.loads(line) for line in data]

In [3]:
data_f = pd.DataFrame(data) 
# total de msgs
len(data_f)

23355

Nessa parte da análise vamos verificar quantas menssagens tem a geo localização habilitada.

In [4]:
enable_geo = data_f[data_f['coordinates'].notnull()]
len(enable_geo)

1158

Verificando as fontes das tweets

In [5]:
data_f['count_groupby'] = 1
data_f[['source', 'count_groupby']] \
         .groupby('source').count()

                                                    count_groupby
source
<a href="http://foursquare.com" rel="nofollow">...            138
<a href="http://instagram.com" rel="nofollow">I...            805
<a href="http://laconversa.com" rel="nofollow">...              1
<a href="http://tapbots.com/software/tweetbot/m...              3
<a href="http://tapbots.com/tweetbot" rel="nofo...             92
<a href="http://trendsmap.com/" rel="nofollow">...             12
<a href="http://tweetmyjobs.com" rel="nofollow"...              1
<a href="http://twitter.com" rel="nofollow">Twi...           4286
<a href="http://twitter.com/#!/download/ipad" r...             32
<a href="http://twitter.com/download/android" r...           8689
<a href="http://twitter.com/download/iphone" re...           9221
<a href="http://www.samruston.co.uk" rel="nofol...              2
<a href="http://www.twitter.com" rel="nofollow"...             33
<a href="https://dlvrit.com/" rel="nofollow">dl...             10
<a href="https://github.com/mariotaku/twidere/"...             17
<a href="https://twitter.com/download/android" ...             12
<a href="https://untappd.com" rel="nofollow">Un...              1

Quais fontes tem mais re-tweets?

In [8]:
retweets = data_f[['retweeted', 'count_groupby']] .groupby('retweeted').count()      
    
retweets.head()

           count_groupby
retweeted
False              23355

Explorando os dados dos usuarios

In [9]:
users = data_f['user'].apply(pd.Series)

In [10]:
#users['verified'].groupby('verified').count()     

users['count_groupby'] = 1
user_verif = users.groupby('verified').count()['count_groupby'] 
user_verif.head()

verified
False    23287
True        68
Name: count_groupby, dtype: int64

In [8]:
data = pd.concat([data_f, users], axis=1)     
data.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,profile_sidebar_fill_color,profile_text_color,profile_use_background_image,protected,screen_name,statuses_count,time_zone,url,utc_offset,verified
0,None,"{'type': 'Point', 'coordinates': [-46.57978356...",Mon Aug 07 00:50:03 +0000 2017,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,000000,000000,False,False,enrico1830,9776,Brasilia,http://Instagram.com/enrico1830,-10800.0,False
1,None,None,Mon Aug 07 00:50:04 +0000 2017,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,000000,000000,False,False,gabwhenicome,37702,Pacific Time (US & Canada),https://www.instagram.com/thecure.s/,-25200.0,False
2,None,None,Mon Aug 07 00:50:04 +0000 2017,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,DDEEF6,333333,False,False,Lauralemec,11898,Brasilia,None,-10800.0,False
3,None,None,Mon Aug 07 00:50:05 +0000 2017,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,DDEEF6,333333,True,False,Gordin53,1403,None,None,NaN,False
4,None,None,Mon Aug 07 00:50:05 +0000 2017,"[0, 15]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 894359957759569920, 'id_str'...",NaN,0,False,low,...,F6FFD1,333333,True,False,aoutrafernanda,75102,Santiago,None,-14400.0,False

Quais variáveis do usuários são mais relevantes  para ter mais seguidores?

In [12]:
users.head()

,contributors_enabled,created_at,default_profile,default_profile_image,description,favourites_count,follow_request_sent,followers_count,following,friends_count,...,profile_text_color,profile_use_background_image,protected,screen_name,statuses_count,time_zone,url,utc_offset,verified,count_groupby
0,False,Tue Jan 03 12:33:52 +0000 2017,False,False,"daltônico. aspirante a escritor. signo fome, a...",8812,None,2539,None,905,...,000000,False,False,enrico1830,9776,Brasilia,http://Instagram.com/enrico1830,-10800.0,False,1
1,False,Wed Jan 13 13:04:55 +0000 2016,False,False,None,2635,None,1270,None,934,...,000000,False,False,gabwhenicome,37702,Pacific Time (US & Canada),https://www.instagram.com/thecure.s/,-25200.0,False,1
2,False,Wed Jun 22 22:53:38 +0000 2011,False,False,None,1040,None,216,None,191,...,333333,False,False,Lauralemec,11898,Brasilia,None,-10800.0,False,1
3,False,Tue Feb 09 23:26:43 +0000 2010,True,False,"Moro com meu melhor amigo, o Birillo.",442,None,273,None,934,...,333333,True,False,Gordin53,1403,None,None,NaN,False,1
4,False,Mon Dec 01 12:24:26 +0000 2008,False,False,I´m just a girl in the world.,5088,None,331,None,204,...,333333,True,False,aoutrafernanda,75102,Santiago,None,-14400.0,False,1

In [13]:
top_users = users[users['followers_count'] > 100000]

In [11]:
len(top_users.name.unique())

25

In [14]:
users.head()

,contributors_enabled,created_at,default_profile,default_profile_image,description,favourites_count,follow_request_sent,followers_count,following,friends_count,...,profile_text_color,profile_use_background_image,protected,screen_name,statuses_count,time_zone,url,utc_offset,verified,count_groupby
0,False,Tue Jan 03 12:33:52 +0000 2017,False,False,"daltônico. aspirante a escritor. signo fome, a...",8812,None,2539,None,905,...,000000,False,False,enrico1830,9776,Brasilia,http://Instagram.com/enrico1830,-10800.0,False,1
1,False,Wed Jan 13 13:04:55 +0000 2016,False,False,None,2635,None,1270,None,934,...,000000,False,False,gabwhenicome,37702,Pacific Time (US & Canada),https://www.instagram.com/thecure.s/,-25200.0,False,1
2,False,Wed Jun 22 22:53:38 +0000 2011,False,False,None,1040,None,216,None,191,...,333333,False,False,Lauralemec,11898,Brasilia,None,-10800.0,False,1
3,False,Tue Feb 09 23:26:43 +0000 2010,True,False,"Moro com meu melhor amigo, o Birillo.",442,None,273,None,934,...,333333,True,False,Gordin53,1403,None,None,NaN,False,1
4,False,Mon Dec 01 12:24:26 +0000 2008,False,False,I´m just a girl in the world.,5088,None,331,None,204,...,333333,True,False,aoutrafernanda,75102,Santiago,None,-14400.0,False,1

In [15]:
len(users.name.unique())

6430

In [38]:
text = data_f[['source', 'text']].where(data_f['source'].str.contains('twitter.com'))

In [45]:
import re

texto = text['text'].dropna()

texto_limpo_sem_emoji = texto[~texto.str.contains(u"[^\U00000000-\U0000d7ff\U0000e000-\U0000ffff]").dropna()]

In [50]:

files_number = 5
for i in range(5):
    chunk = texto_limpo_sem_emoji.sample(frac=0.25)
    chunk.to_csv('tweets_%s.csv'% (i))

In [21]:
teste = text.head(100)

In [48]:
len(texto)

22273

In [49]:
len(texto_limpo_sem_emoji)

19838